body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1920x1080/?nature');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.cpf-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
}

.cpf-button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
}

.cpf-button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 10px;
    text-align: center;
}